/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Nunito:400,600,700');
h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif;}
.home{
	background-image: url(https://raw.githubusercontent.com/jmikepm/iscmk/master/img/home.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.h-100vh {
    height: 100vh;
}
/* menu */
/*==========================
        3.NAVBAR
============================*/
.amenuc{
	color: #000;
}
.custom-nav {
    padding: 12px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}

.custom-nav.stickyadd {
    background-color: #fff!important;
    padding: 8px 0!important;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1)!important;
}

.custom-nav .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    background-color: transparent !important;
    padding: 15px 0;
    position: relative;
    margin: 0 7px;
    font-weight: 600;
    transition: all 0.4s;
}

.custom-nav .navbar-nav li.active a:before,
.custom-nav .navbar-nav li:hover a:before,
.custom-nav .navbar-nav li:active a:before,
.custom-nav.stickyadd .navbar-nav li.active a:before,
.custom-nav.stickyadd .navbar-nav li:hover a:before,
.custom-nav.stickyadd .navbar-nav li:active a:before {
    opacity: 1;
}

.custom-nav .navbar-nav li a:before,
.custom-nav.stickyadd .navbar-nav li a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10%;
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.custom-nav.stickyadd .navbar-nav li a:before {
    background: #000 !important;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: #000;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.custom-nav .navbar-brand.logo img {
    height: auto;
}
/* menu */
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: #fff;
}
.img_home{
	background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.home-table {
    display: table;
    width: 100%;
    height: 100%;
}
.social_home li a{
	font-size: 18px;
	color: #fff;
	display: inline-block;
	width: 30px;
	text-align: center;
}
.social_home li a:hover {
    color: #000;
    background: #fff;
    border-radius: 25px;
}
.header_title{
	font-size: 72px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: capitalize;
}
.btn-rounded {
    border-radius: 30px;
}

.btn-outline-custom {
    background-color: transparent!important;
    border: 2px solid #fff!important;
    color: #fff!important;
    letter-spacing: 1px!important;
    transition: all 0.5s!important;
    font-size: 15px!important;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open>.dropdown-toggle.btn-outline-custom {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
}

.btn-outline-black {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn-outline-black:hover,
.btn-outline-black:focus,
.btn-outline-black:active,
.btn-outline-black.active,
.btn-outline-black.focus,
.btn-outline-black:active,
.btn-outline-black:focus,
.btn-outline-black:hover,
.open>.dropdown-toggle.btn-outline-black {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

.btn-custom {
    background-color: #000!important;
    border: 2px solid #000!important;
    color: #fff!important;
    transition: all 0.5s!important;
    font-size: 15px!important;
    text-transform: capitalize!important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #fff!important;
    border-color: #000!important;
    color: #000!important;
}


.scroll_down {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
}
.scroll_down i {
    position: relative;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    height: 50px;
    width: 30px;
    line-height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 12px;
}
.scroll_down i:hover{
	color: #000!important; 
    background: #fff; 
}
.section{
	padding: 80px 0px;
	position: relative;
	background-color: #FFF;
}
.main-title-border::after, .main-title-border::before{
	display: inline-block;
	margin-top: -7px;
	vertical-align: middle;
	content: "";
	background-color: #d0d0d0;
	width: 30px;
	height: 1px;
}
.clearfix {
    border-bottom: 4px solid #000;
}

/*===========================
        8.EDUCATION
=============================*/

.cv_edu_exp {
    padding: 10px 0;
    position: relative;
}

.cv_edu_exp::after {
    content: "";
    height: 100%;
    left: 0;
    background-color: #e7e7e7;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.cv_edu_exp .cv_edu_exp_box {
    border-radius: 7px;
    border: 1px solid #e7e7e7;
    margin-left: 20px;
    padding: 20px;
}

.cv_edu_exp .cv_edu_exp_box .cv_edu_exp_year {
    position: relative;
    margin: 0 0 10px 15px !important;
}

.cv_edu_exp .cv_edu_exp_box .cv_edu_exp_year::after {
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    height: 20px;
    background-color: #000;
    position: absolute;
    left: -65px !important;
    width: 20px;
    z-index: 1;
}

.cv_edu_exp .cv_edu_exp_box .cb_edu_exp_detail {
    text-align: left;
    margin-left: 15px;
    float: left;
    border-radius: 0;
}

.cv_edu_exp h4,
.cb_edu_exp_detail h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}

.cv_desc {
    line-height: 26px;
    font-size: 15px;
    color: #666;
}


/*==========================
        15.CONTACT US
============================*/

.form-sub-title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px;
}

.contact_form .form-control {
    box-shadow: none !important;
    height: 44px;
    border-radius: 0px;
}

.contact_form .form-control:focus {
    border-color: #000;
}

.contact_form textarea.form-control {
    height: auto;
}

.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

.error_msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 700;
}

.gig_loader {
    display: none;
}

#success_msg {
    text-align: center;
    margin-bottom: 20px;
}

#success_msg h3 {
    color: #0dba26;
    font-size: 22px;
}

/*==========================
        18.RESPONSIVE
============================*/

@media (max-width: 768px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .custom-nav .navbar-nav li a:before {
        content: '';
        display: none;
    }
    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom-nav .navbar-nav li.active a {
        color: #000 !important;
    }
    .custom-nav>.container {
        width: 90%;
    }
    .custom-nav .logo .logo-dark {
        display: inline-block;
    }
    .custom-nav .logo .logo-light {
        display: none;
    }
    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 29px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .header_title {
        font-size: 40px;
        line-height: 1.2;
    }
    .header_subtitle {
        font-size: 15px;
        line-height: 1.8;
    }
    .home-bg,.h-100vh.jarallax,.h-100vh.bg-dark,.home-bg-slider .carousel-item{
        padding: 110px 0 170px 0;
    }
    .h-100vh ,.home-bg-slider .carousel-item{
        height: auto;
    }
    .clip-home{
        clip-path:none;
    }
    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .about-detail .about-work li::after,
    .work_menu li:after {
        display: none;
        content: "";
    }
    .about-detail .about-work li {
        margin-right: 7px;
        margin-left: 7px;
    }
    .copy-rights {
        line-height: 26px;
    }
    .float_none.float-right,
    .float_none.float-left {
        float: none !important;
        text-align: center;
    }
    .work_menu li a {
        margin: 8px 10px;
    }
    .comment_blog .comment_read:nth-child(odd) {
        margin-left: 34px;
    }
    .blog_detail h4{
        font-size: 18px;
    }
    .blog_detail p.blockquote{
        font-size: 14px !important;
    }
}
